body{
    padding-top: 70px;
}

div.jumbotron{
    color: #2c3e50;
    background:  #ecf0f1;
}

nav.navbar{
    background: #2c3e50;

}

nav.navbar-inverse .navbar-brand {
    color: white;
}

nav.navbar-inverse .navbar-nav>li>a{
    color: white;  
}
